<div class="container py-4">
  <h2 class="text-center mb-4">みんなの吐き出し</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
<% @grumbles.each do |grumble| %>
  <div class="col">
    <div class="bubble-container">
      <div class="bubble" id="grumble-<%= grumble.id %>">
        <p class="mb-2"><%= grumble.content %></p>

        <div class="d-flex justify-content-end align-items-center gap-2 mt-2">
          <!-- 投稿日時 -->
          <div class="text-muted small">
            <%= grumble.created_at.in_time_zone.strftime("%m/%d %H:%M") %>
          </div>
           <!-- 削除 -->
          <% if grumble.user == current_user %>
            <%= link_to "削除", grumble_path(grumble), method: :delete,
                data: { turbo_method: :delete },
                class: "btn btn-outline-secondary btn-sm" %>
          <% end %>
           <!-- いいね -->
          <div id="like-section-<%= grumble.id %>">
            <%= render partial: "like_button", locals: { grumble: grumble } %>
          </div>
        </div>
      </div>
      <div class="bubble-tail"></div>
    </div>
  </div>
<% end %>
  </div>

  <!-- ページネーション -->
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @grumbles%>
  </div>
</div>
