<div class="sign-in-page" style="margin-top: 200px;">
  <div class="card">
    <div class="card-header">
      パスワードリセット
    </div>

    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group pb-2">
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> 文字以上で設定してください</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "新パスワード" %>
        </div>

        <div class="form-group pb-2">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "パスワード確認" %>
        </div>

        <%= button_tag(type: 'submit', class: "btn btn-primary", style: "width: 325px;") do %>
            変更
        <% end %>
      <% end %>
      <div class="mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

