<%= render partial: "shared/header" %>
  <div class="matching">
    <p class="matching-num">マッチング中のユーザーは <%= @match_users.size %>人です</p>

    <div class="matching__list">
      <% unless @match_users.empty? %>
        <% @match_users.each do |user| %>
        
         <%= link_to rmd_chat_rooms_path(params: { user_id: user.id }), data: { turbo_method: :post } do%>

         <div class="matching__person">

           <% if user.profile_image.url.nil? %>
             <div class="matching__person-default-img border border-secondary"></div>
           <% else %>
             <%= image_tag user.profile_image.url, class: "matching__person-img border border-secondary" %>
           <% end %>

           <div class="matching__person-name">
             <%= user.name %>
           </div>

         </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render partial: "shared/footer" %>
