<div class="login-container text-center" style="margin-top: 200px;">
  <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group" style="margin: 20px;">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "", placeholder: "メールアドレス" %>
    </div>

    <div class="form-group" style="margin: 20px;">
      <%= f.password_field :password, autocomplete: "new-password", class: "", placeholder: "パスワード" %>
    </div>

    <div class="actions" style="margin: 20px;">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
    <% end %>
    <div>
      <%= render "devise/shared/links" %>
    </div>
</div>
