<div class="sign_in_page" style="margin: 100px;">
  <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group w-25 p-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
    </div>

    <div class="form-group w-25 p-3">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワード" %>
    </div>
  </div>

    <div class="actions" style="margin: 100px;">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
  <div>
    <%= render "devise/shared/links" %>
  </div>
</div>
